body {
    background: #000;
    font-family: 'Muli', sans-serif;

}

/* Estilos Splash */
/*
#splash {
  background-color: red;
  height: 100vh;

}

/* El main se pone como display none para que oculte el contenido pero lo muestre cuando termine el splash

#mainview {
	display: none;
}
*/

.container {
	width: 100%;
	max-width:initial;
}


.d-n {
  display: none; /*Aquí va en none*/
}

#d-b {
  display: block;
}

#btn-login {
  height: 3em;
  background-color: #F22A00;
  border-radius: 2em;
  margin-top: 1em;
}

.map {
  margin-right: 100px;
}
.text-map {
  text-align: center;
  color: #f44336;
}
#map{
    margin: 0 auto;
    height: 200px;
    width: 60%;
    align-content: center;
    margin-bottom: 20px;
}

/* My post contenedor */

.send-post {
  margin-top: 5px;
  padding: 16px 24px;
}