<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Teatrappo</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" type="image/gif" href="../assets/images/icon-meta.png" />
<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>

<!-- Inicia Navbar -->
<main id="mainview">
      <nav>
        <div class="nav-wrapper red darken-4">
          <img  src="../assets/images/logo.png" style="width: 70px; margin-left: 20px;" alt="logo">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <!--Botón menú con dropdown y submenú-->
                      <li id="photo-user"><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id='dropdown1' class='dropdown-content'>
                          <li id="name-user"></li> <!--Aquí va el nombre del usuario-->
                          <li><a class="waves-effect waves-light  modal-trigger" href="#review">Calificar</a></li>
                          <li><a href="#!">Reportar</a></li>
                          <li class="divider"></li>
                          <li><a class="out-session" href="#!">Salir</a></li>
                        </ul>
                      </ul>
                    </div>
                  </nav>
                </div>
              </section>
              <!-- Modal de Calificar -->
              <div id="review" class="modal">
                <div class="modal-content">
                  <h4>Calificar:</h4>
                  <select class="browser-default">
                      <option value="" disabled selected>Selecciona la obra</option>
                      <option value="1">El juego que todos jugamos</option>
                      <option value="2">Mujeres Poderosas. Ciclo de Monólogos</option>
                      <option value="3">Don Quijote y el titiritero</option>
                      <option value="4">El Automóvil Gris</option>
                      <option value="5">Las Meninas</option>
                      <option value="6">Barataria</option>
                      <option value="7">50 sombras de Fer</option>
                      <option value="8">Las Cartas de Frida</option>
                      <option value="9">Solsticio de Invierno</option>
                    </select>
                  <form action="#">
                  <p>
                    <input name="group1" type="radio" id="test1" style="background-color:red;" />
                  </p>
                  <label for="textarea1">Reseña</label>
                    <textarea  id="text-review" class="materialize-textarea"></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <a id="send" href="#!" class="modal-action waves-effect waves-green btn-flat" disabled>Enviar!</a>
                </div>

                <div id="my-post" class="send-post">

                </div>
              </div>

<!-- Sección del primer slider en full-screen -->
<div class="container">
      <div class="slider">
    <ul class="slides">
      <li>
        <img src="../assets/images/panel-divina.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>La Divina Ilusión</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-corazon.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>El corazón de la Materia</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-fitu.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>FITU 2018</h3>
          <p>No te pierdas el Festival Internacional de Teatro UNAM del 19 de FEB al 10 de ABR</p>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-quijote.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Quijote, vencedor de sí mismo</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
    </ul>
  </div>
</div>

  <!-- Sección de la seleccion de obras de teatro -->

  <div class="container">
    <div class="row">
      <div class="carousel">
        <a onclick="getData(0)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/meninas.jpg" height="250" width="250"></a>
        <a onclick="getData(1)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/barataria.jpg" height="250" width="250"></a>
        <a onclick="getData(2)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/sombras.jpg" height="250" width="250"></a>
        <a onclick="getData(3)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/frida.jpg" height="250" width="250"></a>
        <a onclick="getData(4)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/solsticio.jpg" height="250" width="250"></a>
      </div>
    </div>
  </div>

<!-- kartea carousel -->
    <div class="container">
    <div class="row">
      <div class="carousel">
        <a onclick="getData(0)" data-obras="3" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/divina.jpg" height="250" width="250"></a>
        <a onclick="getData(1)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/juegos.jpg" height="250" width="250"></a>
        <a onclick="getData(2)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/mujeres.jpg" height="250" width="250"></a>
        <a onclick="getData(3)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/titiritero.jpg" height="250" width="250"></a>
        <a onclick="getData(4)" class="carousel-item modal-trigger info-obra" href="#info-obras"><img src="../assets/images/automovil.jpg" height="250" width="250"></a>
      </div>
    </div>
  </div>

  <!-- modal del contenido de las obras-->

    <div id="info-obras" class="modal modal1">
      <div class="modal-content row">
        <h4 class="center-align" id="obra"></h4>
        <p class="col s6" id="teatro"></p>
        <p class="col s6" id="genero"></p>
        <p class="col s6" id="horario"></p>
        <p class="col s6" id="precio"></p>
        <a href="#map" class="btn modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
      </div>
  </div>

    <!-- API GOOGLE-->
  <div class="container">
     <h3 class="text-map"> ¡Aquí está tu ubicación!</h3>
     <div id="map"></div>
  </div>

</main>



  <!--Agregando CDN de jQuery-->
  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Agregando Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>


    <!-- agregando API google de geolocalización-->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOyQIOE-32MJ21Jicfx7lLRMMl1wYYwA"
    ></script>


  <!--Agregando archivos locales de javascript-->
  <script type="text/javascript" src="../js/credentials.js"></script>
  <script type="text/javascript" src="../js/functionComments.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/data-obras.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>



</body>
</html>
