<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Teatrappo</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" type="image/gif" href="../assets/images/icon-meta.png" />
<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>

<!-- <main id="splash">
    <section class="row">
       <div class="col sm 12">
         <img src="assets/images/teatro" alt="">
       </div>
    </section>
  </main> -->

<!-- Inicia Navbar -->
<main id="mainview">
      <nav>
        <div class="nav-wrapper red darken-4">
          <img  src="../assets/images/logo.png" style="width: 70px; margin-left: 20px;" alt="logo">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <!--Botón menú con dropdown y submenú-->
                      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id='dropdown1' class='dropdown-content'>
                          <li id="name-user">lo</li> <!--Aquí va el nombre del usuario-->
                          <li class="divider"></li>
                          <li><a class="waves-effect waves-light  modal-trigger" href="#review">Calificar</a></li>
                          <li><a href="#!">Reportar</a></li>
                          <li class="divider"></li>
                          <li><a class="out-session" href="#!">Salir</a></li>
                        </ul>
                      </ul>
                    </div>
                  </nav>
                </div>
              </section>
              <!-- Modal de Calificar -->
              <div id="review" class="modal">
                <div class="modal-content">
                  <h4>Calificar:</h4>
                  <select class="browser-default">
                      <option value="" disabled selected>Selecciona la obra</option>
                      <option value="1">El juego que todos jugamos</option>
                      <option value="2">Mujeres Poderosas. Ciclo de Monólogos</option>
                      <option value="3">Don Quijote y el titiritero</option>
                      <option value="4">El Automóvil Gris</option>
                      <option value="5">Las Meninas</option>
                      <option value="6">Barataria</option>
                      <option value="7">50 sombras de Fer</option>
                      <option value="8">Las Cartas de Frida</option>
                      <option value="9">Solsticio de Invierno</option>
                    </select>
                  <form action="#">
                  <p>
                    <input name="group1" type="radio" id="test1" style="background-color:red;" />
                  </p>
                  <label for="textarea1">Reseña</label>
                    <textarea  id="text-review" class="materialize-textarea"></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <a id="send" href="#!" class="modal-action waves-effect waves-green btn-flat" disabled>Enviar!</a>
                </div>

                <div id="my-post" class="send-post">

                </div>
              </div>

<!-- Sección del primer slider en full-screen -->
<div class="container">
      <div class="slider">
    <ul class="slides">
      <li>
        <img src="../assets/images/panel-divina.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>La Divina Ilusión</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-corazon.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>El corazón de la Materia</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-fitu.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>FITU 2018</h3>
          <p>No te pierdas el Festival Internacional de Teatro UNAM del 19 de FEB al 10 de ABR</p>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
      <li>
        <img src="../assets/images/panel-quijote.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Quijote, vencedor de sí mismo</h3>
          <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        </div>
      </li>
    </ul>
  </div>
</div>

  <!-- Sección de la seleccion de obras de teatro -->

  <div class="container">
    <div class="row">
      <div class="carousel">
        <a onclick="getData(0)" class="carousel-item modal-trigger info-obra" href="#modal1"><img src="../assets/images/meninas.jpg" height="250" width="250"></a>
        <a onclick="getData(1)" class="carousel-item modal-trigger info-obra" href="#modal2"><img src="../assets/images/barataria.jpg" height="250" width="250"></a>
        <a onclick="getData(2)" class="carousel-item modal-trigger info-obra" href="#modal3"><img src="../assets/images/sombras.jpg" height="250" width="250"></a>
        <a onclick="getData(3)" class="carousel-item modal-trigger info-obra" href="#modal4"><img src="../assets/images/frida.jpg" height="250" width="250"></a>
        <a onclick="getData(4)" class="carousel-item modal-trigger info-obra" href="#modal5"><img src="../assets/images/solsticio.jpg" height="250" width="250"></a>
      </div>
    </div>
  </div>

<!-- kartea carousel -->
    <div class="container">
    <div class="row">
      <div class="carousel">
        <a onclick="getData(0)" class="carousel-item modal-trigger info-obra" href="#modal6"><img src="../assets/images/divina.jpg" height="250" width="250"></a>
        <a onclick="getData(1)" class="carousel-item modal-trigger info-obra" href="#modal7"><img src="../assets/images/juegos.jpg" height="250" width="250"></a>
        <a onclick="getData(2)" class="carousel-item modal-trigger info-obra" href="#modal8"><img src="../assets/images/mujeres.jpg" height="250" width="250"></a>
        <a onclick="getData(3)" class="carousel-item modal-trigger info-obra" href="#modal9"><img src="../assets/images/titiritero.jpg" height="250" width="250"></a>
        <a onclick="getData(4)" class="carousel-item modal-trigger info-obra" href="#modal10"><img src="../assets/images/automovil.jpg" height="250" width="250"></a>
      </div>
    </div>
  </div>

  <!-- primer modal kartea -->

    <div id="modal6" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">La Divina Ilusión</h4>
      <p class="col s6" id="teatro">Foro: Helénico</p>
      <p class="col s6" id="genero">Genero: Comedia</p>
      <p class="col s6" id="horario">Lunes 20:00 hrs. (del 12 al 16 de abril)</p>
      <p class="col s6" id="precio">$200 - $300</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

  <!-- segundo modal kartea -->

    <div id="modal7" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">El juego que todos jugamos</h4>
      <p class="col s6" id="teatro">Foro: Lucerna</p>
      <p class="col s6" id="genero">Genero: Comedia</p>
      <p class="col s6" id="horario">Viernes 21:15 hrs. (del 08 de enero al 13 de febrero)</p>
      <p class="col s6" id="precio">$385 - $500</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

  <!-- tercer modal kartea -->

    <div id="modal8" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Mujeres Poderosas. Ciclo de Monólogos</h4>
      <p class="col s6" id="teatro">Foro: NH</p>
      <p class="col s6" id="genero">Genero: Cabaret</p>
      <p class="col s6" id="horario">Viernes 20:30 hrs. (del 12 de enero al 9 de marzo)</p>
      <p class="col s6" id="precio">$350</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

  <!-- cuarto modal kartea -->

    <div id="modal9" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Don Quijote y el titiritero</h4>
      <p class="col s6" id="teatro">Foro: Helénico</p>
      <p class="col s6" id="genero">Genero: Infantil</p>
      <p class="col s6" id="horario">Viernes y sábado 20:30 hrs. (del 16 al 17 de febrero)</p>
      <p class="col s6" id="precio">Gratis</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

  <!-- quinto modal kartea -->

    <div id="modal10" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">El Automóvil Gris</h4>
      <p class="col s6" id="teatro">Foro: De las Artes</p>
      <p class="col s6" id="genero">Genero: Drama</p>
      <p class="col s6" id="horario">Jueves 20:00 hrs. (del 08 al 22 de febrero)</p>
      <p class="col s6" id="precio">$30 (solo los jueves)</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

<!-- Modal de primera obra -->

  <div id="modal1" class="modal modal1">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Las Meninas</h4>
      <p class="col s6" id="teatro">Foro: NH</p>
      <p class="col s6" id="genero">Genero: Comedia</p>
      <p class="col s6" id="horario">Lunes y Martes 20:00 hrs. (del 08 de enero al 13 de febrero)</p>
      <p class="col s6" id="precio">$250 - $340</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.344992767441!2d-99.17664100256611!3d19.419479954620247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3692f2dc4f%3A0x67a7a44eeda10b94!2sHotel+NH+Collection+Mexico+City+Reforma!5e0!3m2!1ses-419!2smx!4v1518207708804" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>
<!-- Modal de segunda obra -->
  <div id="modal2" class="modal modal2">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Barataria</h4>
      <p class="col s6" id="teatro">Foro: Foro Shakespeare</p>
      <p class="col s6" id="genero">Genero: 'Comedia , Musical'</p>
      <p class="col s6" id="horario">Miércoles 20:30 hrs. (a partir del 28 de enero)</p>
      <p class="col s6" id="precio">259 - $370</p>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15051.348702226156!2d-99.176641!3d19.4194399!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x564ffeb43e11176!2sForo+Shakespeare!5e0!3m2!1ses-419!2smx!4v1518207204076" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>
<!-- Modal de 3ra obra -->
  <div id="modal3" class="modal modal2">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">50 sombras de Fer</h4>
      <p class="col s6" id="teatro">Foro: Bar El Vicio</p>
      <p class="col s6" id="genero">Genero: Cabaret</p>
      <p class="col s6" id="horario">Viernes 23:55 hrs. (del 2 al 23 de febrero)</p>
      <p class="col s6" id="precio">$100 - $300</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.2698454834003!2d-99.16637818542813!3d19.35746504809568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8d2a0667e27%3A0x7c213a717b95a758!2sTeatro+Bar+El+Vicio!5e0!3m2!1ses-419!2smx!4v1518207859939" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>


  <!-- Modal de 4ra obra -->
  <div id="modal4" class="modal modal2">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Las Cartas de Frida</h4>
      <p class="col s6" id="teatro">Foro: Hélenico</p>
      <p class="col s6" id="genero">Genero: Contemporáneo</p>
      <p class="col s6" id="horario">Martes y Miércoles 20:30 hrs. (del 6 de febrero al 14 de marzo)</p>
      <p class="col s6" id="precio">Precio: $240 - $500</p>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.382882254133!2d-99.19214588542825!3d19.352567148250568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fff61e0461ed%3A0xf8c7b630f4d17923!2sCentro+Cultural+Hel%C3%A9nico!5e0!3m2!1ses-419!2smx!4v1518208040702" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

    <!-- Modal de 5ra obra -->
  <div id="modal5" class="modal modal2">
    <div class="modal-content row">
      <h4 class="center-align" id="obra">Solsticio de Invierno</h4>
      <p class="col s6" id="teatro">Foro: Orientación</p>
      <p class="col s6" id="genero">Genero: Drama</p>
      <p class="col s6" id="horario">Lunes y Martes 20:00 hrs. (del 08 de enero al 13 de febrero)</p>
      <p class="col s6" id="precio">Precio: $340 - $600</p>
    </div>
    <div class="modal-footer">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120460.13878584008!2d-99.25999799446201!3d19.3527207802476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201fc0a8670b1%3A0xf139da2633b7f7c3!2sTeatro+Orientaci%C3%B3n!5e0!3m2!1ses-419!2smx!4v1518208172718" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="#review" class="modal-action modal-close waves-effect waves-green btn-flat">Haz una reseña!</a>
    </div>
  </div>

    <!-- API GOOGLE-->
  <div class="container">
     <h3 class="text-map"> ¡Aquí está tu ubicación!</h3>
     <div id="map"></div>
  </div>

</main>



  <!--Agregando CDN de jQuery-->
  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Agregando Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>


    <!-- agregando API google de geolocalización-->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOyQIOE-32MJ21Jicfx7lLRMMl1wYYwA"
    ></script>


  <!--Agregando archivos locales de javascript-->
  <script type="text/javascript" src="../js/credentials.js"></script>
  <script type="text/javascript" src="../js/functionComments.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/data-obras.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>



</body>
</html>
